@import 'tailwindcss';

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Global variables goes here*/
  --header: #000000;
  --subheader: #7b7b7b;
  --filled-button: #7E4BA6;
    --filled-button-dark: #4F2271;
  --white: #ffffff;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: none;
}

